// Fonts

// Imports
@import './partials/_header';
@import './partials/_content';
@import './partials/_secondScreen';
@import './partials/_thirdScreen';
@import './partials/_fourthScreen';
@import './partials/_fifthScreen';
@import './partials/_sixthScreen';
@import './partials/_footer';
// GLobals
html{
    // max-height: 100vh;
    min-height: 100vh;
}
body, html{
    margin: 0;
    padding: 0;
    font-size: 10px;
    color: #fff;
}
body{
    background: url(../../assets/img/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
   
}

input{
    &:focus{
        outline: none;
    }
}
span{
    &.bold{
        font-weight: bold;
    }
}

