footer{
    margin-top: 5%;
    margin-bottom: 1%;
    width: 100%;
    ul{
        margin: 0 auto;
        padding: 0;
        list-style: none;
        display: flex;
        justify-content: space-between;
        li{
            display: flex;
            margin-right: 85px;
            align-items: flex-end;
            &:last-of-type{
                margin-right: 0;
            }
            img{
                object-fit: contain;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    footer{
        ul{
            margin: 0 auto;
            padding: 0;
            list-style: none;
            display: flex;
            justify-content: space-between;
            li{
                width: 25%;
            
                img{
                    object-fit: contain;
                    width: 100%;
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    footer{
        position: absolute;
        bottom: 0;
        padding: 0 5%;
        ul{
            li{
                margin-right: 0;
                
            }
        }
    }
}
