.topBar{
    text-align: center;
    margin-top: 30px;
    .mobileShow{
        display: none;
    }
    img{
        height: 85px;
        &.logo{
            margin: 0 auto;
    }
    }
    a{
        color: #ffffff;
        font-size: 2rem;
        line-height: 10.7rem;
        vertical-align: baseline;
        &.logOut{
            position: relative;
            padding-right: 15px;
            &::after{
                content: "";
                opacity: 0.5;
                position: absolute;
                left: 100%;
                bottom: 0;
                background: url(../../assets/img/logOut.svg) no-repeat;
                height: 30px;
                width: 30px;
            }
        }
        &:hover{
            opacity: 0.8;
            text-decoration: none;
        }
    }
}
@media (max-width: 768px) {
.topBar{
    .mobileHide{
        display: none;
    }
    .mobileShow{
        display: block;
        ul{
            position: relative;
            width: 100%;
            li{
                display: inline-block;
                &.logoWrapper{
                    margin-left: -10%;
                }
                &.logOutWrapper{
                    position: absolute;
                    left: 85%;
                    bottom: 5%;
                
                    a{
                        img{
                            height: 25px;

                        }
                    }
                }
            }
        }
    }
    img{
        &.logo{
            height:67px ;
        }
    }
}

}